In [17]:
# Q.1.Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: 
#A) Rank
#B) Name
#C) Artist
#D) Upload date
#E) Views



import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException   #importing exception, since we are using dynamic page/website where the elements in page might be relocated or added or value get change 
# .strip(): This is a Python string method that removes leading and trailing whitespaces (spaces, tabs, and newlines) from a string. It doesn't affect spaces within the string.

driver =webdriver.Chrome()

#opening the website on automated chrome browser ( Open wikipedia website)

driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [26]:
# Empty lists for storing data
Rank = []
Name = []
Artist = []
Upload_Date = []
Views = []

# Find the table with the Top 30 most-viewed YouTube videos details 
tables = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"]')

# Ensure that at least one table is found
if tables:
    # Assuming the first table contains the data
    table = tables[0]

    # Loop through the rows of the table to extract data
    rows = table.find_elements(By.TAG_NAME, "tr")
    for row in rows[1:]:  # Skip the header row
        columns = row.find_elements(By.TAG_NAME, "td")

        # Check if the number of columns is as expected
        if len(columns) >= 5:
            rank = columns[0].text
            name = columns[1].text
            artist = columns[2].text
            upload_date = columns[4].text
            views = columns[3].text

            # Append data to respective lists
            Rank.append(rank)
            Name.append(name)
            Artist.append(artist)
            Upload_Date.append(upload_date)
            Views.append(views)
else:
    print("No tables found on the page.")

# Print the lengths of lists 
len(Rank),len(Name),len(Upload_Date),len(Views)

(30, 30, 30, 30)

In [27]:
df=pd.DataFrame({'Rank':Rank , ' Name':Name , 'Artist':Artist , 'Upload Date':Upload_Date, 'Views in Billions':Views})
df

,Rank,Name,Artist,Upload Date,Views in Billions
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.48
1,2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.28
2,3.,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.82
3,4.,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.45
4,5.,"""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.11
5,6.,"""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.05
6,7.,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.62
7,8.,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.52
8,9.,"""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.05
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",4.99
10,11.,"""Gangnam Style""[31]",officialpsy,"July 15, 2012",4.92
11,12.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.56
12,13.,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.46
13,14.,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.09
14,15.,"""Sugar""[39]",Maroon 5,"January 14, 2015",3.95
15,16.,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.89
16,17.,"""Roar""[41]",Katy Perry,"September 5, 2013",3.89
17,18.,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.80
18,19.,"""Waka Waka (This Time for Africa)""[43]",Shakira,"June 4, 2010",3.75
19,20.,"""Sorry""[44]",Justin Bieber,"October 22, 2015",3.72
20,21.,"""Lakdi Ki Kathi""[45]",Jingle Toons,"June 14, 2018",3.71
21,22.,"""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.67
22,23.,"""Dark Horse""[47]",Katy Perry,"February 20, 2014",3.60
23,24.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.58
24,25.,"""Perfect""[49]",Ed Sheeran,"November 9, 2017",3.56
25,26.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.53
26,27.,"""Faded""[51]",Alan Walker,"December 3, 2015",3.53
27,28.,"""Girls Like You""[52]",Maroon 5,"May 31, 2018",3.50
28,29.,"""Shree Hanuman Chalisa""[53]",T-Series Bhakti Sagar,"May 10, 2011",3.48
29,30.,"""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.48

In [3]:
#Q.2. Scrape the details team India’s international fixtures from bcci.tv.
#Url = https://www.bcci.tv/.
#You need to find following details:
#A) Series
#B) Place
#C) Date
#D) Time
# Note: - From bcci.tv home page you have reach to the international fixture page through code.


import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException   #importing exception, since we are using dynamic page/website where the elements in page might be relocated or added or value get change 

driver =webdriver.Chrome()

#opening the website on automated chrome browser ( Open bcci.tv website)

driver.get("https://www.bcci.tv/")

time.sleep(2)

#Then click the close ad.
close=driver.find_element(By.XPATH,'//button[@class="close-button page-close"]')
close.click()

In [4]:
#Then click the Fixtures & Results.
Fixtures=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[1]/ul/div[1]/a[2]')
Fixtures.click()

In [15]:
# Empty lists for storing data
Series = []
Place = []
Date = []
Time = []


#Scraping Series from the given page 
for i in driver.find_elements(By.XPATH,'//div[@class="match-card-middle__inner d-flex justify-content-between"]'):
    Series.append(i.text.replace('\n','   '))

    
#Scraping Place from the given page 
for i in driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]'):
    Place.append(i.text)
    
    
    
#Scraping Date from the given page 
for i in driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]'):
    Date.append(i.text)
    
    

#Scraping Time from the given page 
for i in driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]'):
    Time.append(i.text)
    


    
# Print the lengths of lists 
len(Series),len(Place),len(Date),len(Time)

(211, 211, 211, 211)

In [16]:
df=pd.DataFrame({'Series':Series , ' Place':Place , 'Date':Date , 'Time':Time})
df

,Series,Place,Date,Time
0,India Bangladesh,"Maharashtra Cricket Association Stadium, Pune","19 OCTOBER, 2023",2:00 PM IST
1,India New Zealand,"Himachal Pradesh Cricket Association Stadium, ...","22 OCTOBER, 2023",2:00 PM IST
2,India England,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,"29 OCTOBER, 2023",2:00 PM IST
3,India Sri Lanka,"Wankhede Stadium, Mumbai","2 NOVEMBER, 2023",2:00 PM IST
4,India South Africa,"Eden Gardens, Kolkata","5 NOVEMBER, 2023",2:00 PM IST
...,...,...,...,...
206,India 173/8 20.0 overs Sri Lanka 174/4...,"Dubai International Cricket Stadium, Dubai","6 SEPTEMBER, 2022",7:30 PM IST
207,India 181/7 20.0 overs Pakistan 182/5 ...,"Dubai International Cricket Stadium, Dubai","4 SEPTEMBER, 2022",7:30 PM IST
208,India A 571/6 d 143.0 overs New Zealand ...,"M.Chinnaswamy Stadium, Bangalore","1 SEPTEMBER, 2022",9:30 AM IST
209,India 192/2 20.0 overs Hong Kong 152/5...,"Dubai International Cricket Stadium, Dubai","31 AUGUST, 2022",7:30 PM IST
210,India 148/5 19.4 overs Pakistan 147 ...,"Dubai International Cricket Stadium, Dubai","28 AUGUST, 2022",7:30 PM IST

In [3]:
#Q.3. Scrape the details of State-wise GDP of India from statisticstime.com.
#Url = http://statisticstimes.com/
#You have to find following details: A) Rank
#B) State
#C) GSDP(18-19)- at current prices
#D) GSDP(19-20)- at current prices
#E) Share(18-19)
#F) GDP($ billion)
#Note: - From statisticstimes home page you have to reach to economy page through code.



import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException   #importing exception, since we are using dynamic page/website where the elements in page might be relocated or added or value get change 

driver =webdriver.Chrome()

#opening the website on automated chrome browser ( Open State-wise GDP  website)

driver.get('http://statisticstimes.com/')

time.sleep(2)

#Then click the economy option
Select=driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]')
Select.click()

time.sleep(2)

#Then click the India option in economy
india=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click()

In [4]:

#Then click the 'GDP of India states' option in economy
india=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
india.click()

In [10]:
# Empty lists for storing data
Rank = []
State = []
GSDP_1 = []
GSDP_2 = []
Share = []
GDP = []

# Find the table with the Top 30 most-viewed YouTube videos details 
tables = driver.find_elements(By.XPATH, '//div[@class="dataTables_wrapper"]')

# Ensure that at least one table is found
if tables:
    # Assuming the first table contains the data
    table = tables[0]

    # Loop through the rows of the table to extract data
    rows = table.find_elements(By.TAG_NAME, "tr")
    for row in rows[1:]:  # Skip the header row
        columns = row.find_elements(By.TAG_NAME, "td")

        # Check if the number of columns is as expected
        if len(columns) >= 5:
            rank = columns[0].text
            state = columns[1].text
            gsdp_1 = columns[2].text
            gsdp_2 = columns[3].text
            share = columns[4].text
            gdp = columns[5].text

            # Append data to respective lists
            Rank.append(rank)
            State.append(state)
            GSDP_1.append(gsdp_1)
            GSDP_2.append(gsdp_2)
            Share.append(share)
            GDP.append(gdp)
else:
    print("No tables found on the page.")

# Print the lengths of lists 
len(Rank),len(State),len(GSDP_1),len(GSDP_2),len(Share),len(GDP)

(34, 34, 34, 34, 34, 34)

In [12]:
df=pd.DataFrame({'Rank':Rank[0:33] , ' State':State[:33] , 'GSDP(18-19)- at current prices':GSDP_1[:33] , 'GSDP(19-20)- at current prices':GSDP_2[:33], ' Share(18-19)':Share[:33], ' GDP($ billion)':GDP[:33]})
df

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [1]:
#Q.4. Scrape the details of trending repositories on Github.com.
#Url = https://github.com/
#You have to find the following details:
#A) Repository title
#B) Repository description
#C) Contributors count
#D) Language used
#Note: - From the home page you have to click on the trending option from Explore menu through code



import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException   #importing exception, since we are using dynamic page/website where the elements in page might be relocated or added or value get change 

driver =webdriver.Chrome()

#opening the website on automated chrome browser ( Open trending repositories)

driver.get('https://github.com/')

time.sleep(2)

#Then click the 'open source' 
Select=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
Select.click()

time.sleep(2)


#Then click the trending option in 'open source'
india=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
india.click()

In [2]:
#Empty list for store 
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]
URL=[]

#Scraping URL
for i in driver.find_elements(By.XPATH,'//a[@class="Link"]'):
    URL.append(i.get_attribute('href')) #to retrive any link we use get_attribute 
    
len(URL)

25

In [3]:
for i in URL:       #iterating each and every URL to fetch full details ( loop for every details in the list)
    driver.get(i)   # taing each URL one by one as an input
    
    
     #Scraping Repository_title
    try:
        title = driver.find_element(By.XPATH,'//div[@class="flex-auto min-width-0 width-fit mr-3"]')
        Repository_title.append(title.text)
    
    except NoSuchElementException:
        Repository_title.append('-')



     #Scraping Repository_description
    try:
        description = driver.find_element(By.XPATH,'//p[@class="f4 my-3"]')
        Repository_description.append(description.text)
    
    except NoSuchElementException:
        Repository_description.append('-')
        

     #Scraping Contributors_count
    try:
        contributors = driver.find_element(By.XPATH,'//span[@class="Counter ml-1"]')
        Contributors_count.append(contributors.text)
    
    except NoSuchElementException:
        Contributors_count.append('-')
        
   
    
    
    #Scraping Language_used
    try:
        language = driver.find_element(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]')
        Language_used.append(language.text)
    
    except NoSuchElementException:
        Language_used.append('-')
    
    

len(Repository_title),len(Repository_description),len(Contributors_count),len(Language_used)

(25, 25, 25, 25)

In [4]:
#Finally create a dataframe of the scraped data.
df=pd.DataFrame({'Repository title':Repository_title , 'Repository description':Repository_description , 'Contributors count':Contributors_count , 'Language used':Language_used})
df

,Repository title,Repository description,Contributors count,Language used
0,ByteByteGoHq\n/\nsystem-design-101\nPublic,Explain complex systems using visuals and simp...,,-
1,OpenBMB\n/\nXAgent\nPublic,An Autonomous LLM Agent for Complex Task Solving,,TypeScript
2,ionic-team\n/\nionic-framework\nPublic,A powerful cross-platform UI toolkit for build...,468,TypeScript
3,cpacker\n/\nMemGPT\nPublic,Teaching LLMs memory management for unbounded ...,9,Python
4,Alex313031\n/\nthorium\nPublic,Chromium fork named after radioactive element ...,,C++
5,cloudcommunity\n/\nFree-Certifications\nPublic,A curated list of free courses & certifications.,53,-
6,DarkFlippers\n/\nunleashed-firmware\nPublic,Flipper Zero Unleashed Firmware,292,C
7,TheRealJoelmatic\n/\nRemoveAdblockThing\nPublic,"Removes The ""Ad blocker are not allowed on You...",,JavaScript
8,refinedev\n/\nrefine\nPublic,"Build your React-based CRUD applications, with...",,TypeScript
9,PWhiddy\n/\nPokemonRedExperiments\nPublic,Playing Pokemon Red with Reinforcement Learning,,Jupyter Notebook
10,Alex313031\n/\nThorium-Win\nPublic,Chromium fork for Windows named after radioact...,,Batchfile
11,imteekay\n/\nprogramming-language-research\nPu...,"Programming Language Research, Applied PLT & C...",4,Clojure
12,devfullcycle\n/\nimersao15\nPublic,-,,Go
13,langchain-ai\n/\nlangchain\nPublic,⚡ Building applications with LLMs through comp...,,Python
14,Azure-Samples\n/\nazure-search-openai-demo\nPu...,A sample app for the Retrieval-Augmented Gener...,49,Python
15,felipemotarocha\n/\nfullstackweek-store\nPublic,-,,TypeScript
16,Azure\n/\nazure-sdk-for-java\nPublic,This repository is for active development of t...,593,Java
17,trufflesecurity\n/\ntrufflehog\nPublic,Find and verify credentials,1,Go
18,Kong\n/\nkong\nPublic,🦍 The Cloud-Native API Gateway,,Lua
19,nextauthjs\n/\nnext-auth\nPublic,Authentication for the Web.,595,TypeScript
20,t3-oss\n/\ncreate-t3-app\nPublic,"The best way to start a full-stack, typesafe N...",265,TypeScript
21,mkkellogg\n/\nGaussianSplats3D\nPublic,Three.js-based implementation of the 3D Gaussi...,,JavaScript
22,Orange-Cyberdefense\n/\nGOAD\nPublic,game of active directory,,PowerShell
23,cloudflare\n/\nworkers-sdk\nPublic,"⛅️ Home to Wrangler, the CLI for Cloudflare Wo...",126,TypeScript
24,nodejs\n/\nnode\nPublic,Node.js JavaScript runtime ✨🐢🚀✨,"3,307",JavaScript

In [8]:
#Q.5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
#following details:
#A) Song name
#B) Artist name
#C) Last week rank
#D) Peak rank
#E) Weeks on board
#Note: - From the home page you have to click on the charts option then hot 100-page link through code.



import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException   #importing exception, since we are using dynamic page/website where the elements in page might be relocated or added or value get change 

driver =webdriver.Chrome()

#opening the website on automated chrome browser ( Open billiboard )

driver.get('https:/www.billboard.com/')

time.sleep(2)

#Then click the 'CHARTS' 
Select=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
Select.click()


time.sleep(2)


#Then click the option 'billiboard Hot 100'
billiboard=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a')
billiboard.click()

In [19]:
#Empty list for store 
Song_name=[]
Artist_name=[]
Last_week=[]
Peak_rank=[]
Weeks_board=[]



#Scraping Song_name from the given page 
for i in driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]'):
    Song_name.append(i.text)

    
#Scraping Artist_name from the given page 
for i in driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]'):
    Artist_name.append(i.text)
    
    

#Scraping Last week Rank from the given page 
for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]'):
    Last_week.append(i.text)
    
    

#Scraping Peak_rank from the given page 
for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]'):
    Peak_rank.append(i.text)
    

    
#Scraping Weeks on board from the given page 
for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]'):
    Weeks_board.append(i.text)


    
# Print the lengths of lists 
len(Song_name),len(Artist_name),len(Last_week),len(Peak_rank),len(Weeks_board)

(99, 99, 99, 99, 99)

In [20]:
#Finally create a dataframe of the scraped data.
df=pd.DataFrame({'Song name':Song_name , 'Artist name':Artist_name , 'Last week rank':Last_week , 'Peak rank':Peak_rank, 'Weeks on board':Weeks_board})
df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,IDGAF,Drake Featuring Yeat,-,2,1
1,Virginia Beach,Drake,-,3,1
2,Paint The Town Red,Doja Cat,1,1,10
3,Calling For You,Drake Featuring 21 Savage,-,5,1
4,Slime You Out,Drake Featuring SZA,18,1,4
...,...,...,...,...,...
94,God Gave Me A Girl,Russell Dickerson,90,90,2
95,Y Lloro,Junior H,-,97,1
96,Telekinesis,Travis Scott Featuring SZA & Future,72,26,11
97,Seven,Jung Kook Featuring Latto,57,1,13
98,Stars Like Confetti,Dustin Lynch,89,89,2

In [1]:
#Q6. Scrape the details of Highest selling novels.
#A) Book name
#B) Author name
#C) Volumes sold
#D) Publisher
#E) Genre
#Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare



import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException   #importing exception, since we are using dynamic page/website where the elements in page might be relocated or added or value get change 

driver =webdriver.Chrome()

#opening the website on automated chrome browser 

driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [4]:
# Empty lists for storing data
Book_name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []


#Scraping Book_name from the given page 
for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]'):
    Book_name.append(i.text)

    
#Scraping Author_name from the given page 
for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]'):
    Author_name.append(i.text)
    
    
    
#Scraping Volumes_sold from the given page 
for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]'):
    Volumes_sold.append(i.text)
    
    

#Scraping Publisher from the given page 
for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]'):
    Publisher.append(i.text)
    


#Scraping Genre from the given page 
for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]'):
    Genre.append(i.text)
    

    
# Print the lengths of lists 
len(Book_name),len(Author_name),len(Volumes_sold),len(Publisher),len(Genre)

(100, 100, 100, 100, 100)

In [5]:
#Finally create a dataframe of the scraped data.
df=pd.DataFrame({'Book name':Book_name , ' Author name':Author_name , 'Volumes sold':Volumes_sold , 'Publisher':Publisher, ' Genre':Genre})
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [6]:
#Q7. Scrape the details most watched tv series of all time from imdb.com.
#Url = https://www.imdb.com/list/ls095964455/ You have
#to find the following details:
#A) Name
#B) Year span
#C) Genre
#D) Run time
#E) Ratings
#F) Votes



import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException   #importing exception, since we are using dynamic page/website where the elements in page might be relocated or added or value get change 

driver =webdriver.Chrome()

#opening the website on automated chrome browser 

driver.get('https://www.imdb.com/list/ls095964455/')

In [7]:
# Empty lists for storing data
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []


#Scraping Name from the given page 
for i in driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a'):
    Name.append(i.text)

    
#Scraping Year_span from the given page 
for i in driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]'):
    Year_span.append(i.text)
    
    
    
#Scraping Genre from the given page 
for i in driver.find_elements(By.XPATH,'//span[@class="genre"]'):
    Genre.append(i.text)
    
    

#Scraping Run_time from the given page 
for i in driver.find_elements(By.XPATH,'//span[@class="runtime"]'):
    Run_time.append(i.text)
    


#Scraping Ratings from the given page 
for i in driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]'):
    Ratings.append(i.text)
    
    
#Scraping Votes from the given page 
for i in driver.find_elements(By.XPATH,'//span[@name="nv"]'):
    Votes.append(i.text)    
    

    
# Print the lengths of lists 
len(Name),len(Year_span),len(Genre),len(Run_time),len(Ratings),len(Votes)

(100, 100, 100, 100, 100, 100)

In [10]:
#Finally create a dataframe of the scraped data.
df=pd.DataFrame({'Name':Name , ' Year span':Year_span , 'Genre':Genre , 'Run_time':Run_time, ' Ratings':Ratings, 'Votes':Votes })
df

,Name,Year span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,213,628"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,283,377"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,050,461"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"308,644"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"267,582"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,961"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"65,033"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"211,945"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"44,115"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"270,253"

In [4]:
#Q8. Details of Datasets from UCI machine learning repositories.
#Url = https://archive.ics.uci.edu/ You
#have to find the following details:
#A) Dataset name
#B) Data type
#C) Task
#D) Attribute type
#E) No of instances
#F) No of attribute G) Year
#Note: - from the home page you have to go to the Show All Dataset page through code




import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException   #importing exception, since we are using dynamic page/website where the elements in page might be relocated or added or value get change 

driver =webdriver.Chrome()

#opening the website on automated chrome browser 

driver.get('https://archive.ics.uci.edu/')

time.sleep(2)

#Then click the 'View Dataset' 
Dataset=driver.find_element(By.XPATH,'//a[@class="btn-primary btn"]')
Dataset.click()


time.sleep(4)

In [9]:
#Empty list for store 
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_instances=[]
No_attribute=[]
Year=[]
URL=[]

#till all pages so that we can scrape all datas
start= 0
end= 65


for page in range(start,end): #for loop for scrapping page
    #Scraping URL
    for i in driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]'):
        URL.append(i.get_attribute('href')) #to retrive any link we use get_attribute 
    

    next_button=driver.find_element(By.XPATH,'//button[2][@class="btn-primary btn-sm btn"]') #to scrape data from next page (here we are usig 'find _elements' instead of 'find_element', so no need to write 'next_button.click()' command in next line)
    next_button.click()
    time.sleep(4) 


len(URL)

650

In [10]:
for i in URL:       #iterating each and every URL to fetch full job details ( loop for every guitar in the list)
    driver.get(i)   # taing each URL one by one as an input
    time.sleep(2)
    
    #Scraping Dataset_name
    try:
        dataset = driver.find_element(By.XPATH,'//div[@class="relative flex flex w-full items-center gap-4 bg-primary p-2"]/div/div')
        Dataset_name.append(dataset.text)
    
    except NoSuchElementException:
        Dataset_name.append('-')
        
    #Scraping Data_type
    try:
        Data = driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[4]/p')
        Data_type.append(Data.text)
    
    except NoSuchElementException:
        Data_type.append('-')
    
    
    #Scraping Task
    try:
        mission = driver.find_element(By.XPATH,'//p[@class="svelte-17wf9gp"]')
        Task.append(mission.text)
    
    except NoSuchElementException:
        Task.append('-')
    
    
    #Scraping Attribute_type
    try:
        attribute = driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[1]/p')
        Attribute_type.append(attribute.text)
    
    except NoSuchElementException:
        Attribute_type.append('-')
    
    #Scraping No_instances
    try:
        instances = driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[5]/p')
        No_instances.append(instances.text)
    
    except NoSuchElementException:
        No_instances.append('-')
    
    
    #Scraping No_attribute
    try:
        attriuteno = driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[6]/p')
        No_attribute.append(attriuteno.text)
    
    except NoSuchElementException:
        No_attribute.append('-')
        
        
        
    #Scraping Year
    try:
        date = driver.find_element(By.XPATH,'//div[@class="relative flex flex w-full items-center gap-4 bg-primary p-2"]/div/h2')
        Year.append(date.text)
    
    except NoSuchElementException:
        Year.append('-')
        
        
len(Dataset_name),len(Data_type),len(Task),len(Attribute_type),len(No_instances),len(No_attribute),len(Year)

(650, 650, 650, 650, 650, 650, 650)

In [12]:
# don't know how to scrape data from the last page, last 7 datas from the last page.
#Finally create a dataframe of the scraped data.
df=pd.DataFrame({'Dataset name':Dataset_name , ' Data type':Data_type , 'Task':Task , 'Attribute type':Attribute_type, 'No. of instances':No_instances, 'No of attribute':No_attribute, 'Year':Year })
df

,Dataset name,Data type,Task,Attribute type,No. of instances,No of attribute,Year
0,Iris,Real,"A small classic dataset from Fisher, 1936. One...",Tabular,150,4,Donated on 6/30/1988
1,Heart Disease,"Categorical, Integer, Real","4 databases: Cleveland, Hungary, Switzerland, ...",Multivariate,303,13,Donated on 6/30/1988
2,Adult,"Categorical, Integer",Predict whether income exceeds $50K/yr based o...,Multivariate,48842,14,Donated on 4/30/1996
3,Wine,"Integer, Real",Using chemical analysis to determine the origi...,Tabular,178,13,Donated on 6/30/1991
4,Breast Cancer Wisconsin (Diagnostic),Real,Diagnostic Wisconsin Breast Cancer Database.,Multivariate,569,30,Donated on 10/31/1995
...,...,...,...,...,...,...,...
645,BAUM-2,-,A multilingual audio-visual affective face dat...,Time-Series,1047,-,Donated on 11/8/2018
646,NSF Research Award Abstracts 1990-2003,-,"This data set consists of (a) 129,000 abstract...",Text,129000,-,Donated on 11/17/2003
647,Undocumented,-,Various datasets without documentation (feel f...,-,-,-,-
648,Opinosis Opinion / Review,-,This dataset contains sentences extracted from...,Text,51,-,Donated on 7/5/2010
649,DGP2 - The Second Data Generation Program,Real,Generates application domains based on specifi...,Data-Generator,-,-,-