In [10]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\riki\appdata\roaming\python\python39\site-packages (4.12.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\riki\appdata\roaming\python\python39\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\riki\appdata\roaming\python\python39\site-packages (from selenium) (0.10.4)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\riki\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\riki\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\riki\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\riki\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [77]:
#Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
#This task will be done in following steps:
#1. First get the webpage https://www.shine.com/
#2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
#3. Then click the search button.
#4. Then scrape the data for the first 10 jobs results you get.
#5. Finally create a dataframe of the scraped data.


import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

driver =webdriver.Chrome()

#opening the shine page on automated chrome browser (#1. First get the webpage https://www.shine.com/)

driver.get("https://www.shine.com/")

In [80]:
#enterning designation and location as required in the Q (#2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.)
designation=driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Analyst ')

In [81]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [85]:
#3. Then click the search button.
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [86]:
#Empty list for store 
job_title=[]
job_location=[]
company_name=[]
experienced_required=[]

In [103]:
#Scraping job title from the given page (#4. Then scrape the data for the first 10 jobs results you get)
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags:
    title=i.text
    job_title.append(title)
job_title [0:10]

['Senior Data Analyst',
 'Hiring For Data Analyst',
 'Data Analyst',
 'Clinical Data Analyst',
 'Mobility Data Analyst - IN/MKR',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Engineer II, Amazon WFM Tech Enterprise Data',
 'Data Analyst - Java/Python',
 'Business Data Analyst, GlowRoad']

In [88]:
#Scraping job location from the given page 

for i in driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]'):
    job_location.append(i.text)
job_location  [0:10]

['Bangalore\n+8',
 'Bangalore\n+8',
 'Bangalore',
 'Bangalore\n+4',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+13',
 'Bangalore',
 'Bangalore',
 'Bangalore']

In [89]:
#Scraping company name from the given page

for i in driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]'):
    company_name.append(i.text)
company_name  [0:10]

['harjai computers private limited',
 'harjai computers private limited',
 'true caller',
 'quiscon biotech',
 'bosch group',
 'true caller',
 'rama technical consultants',
 'amazon',
 'boyen haddin consulting and technol...',
 'amazon']

In [90]:
#Scraping experienced required from the given page

for i in driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]'):
    experienced_required.append(i.text)
experienced_required [0:10]

['0 to 2 Yrs',
 '2 to 5 Yrs',
 '3 to 5 Yrs',
 '0 to 2 Yrs',
 '4 to 6 Yrs',
 '5 to 7 Yrs',
 '11 to 21 Yrs',
 '3 to 5 Yrs',
 '3 to 6 Yrs',
 '1 to 3 Yrs']

In [109]:
#5. Finally create a dataframe of the scraped data.
df=pd.DataFrame({'Title':job_title[0:10] , 'Location':job_location[0:10] , 'Company Name':company_name[0:10] , 'Experience':experienced_required[0:10]})
df

,Title,Location,Company Name,Experience
0,Senior Data Analyst,Bangalore\n+8,harjai computers private limited,0 to 2 Yrs
1,Hiring For Data Analyst,Bangalore\n+8,harjai computers private limited,2 to 5 Yrs
2,Data Analyst,Bangalore,true caller,3 to 5 Yrs
3,Clinical Data Analyst,Bangalore\n+4,quiscon biotech,0 to 2 Yrs
4,Mobility Data Analyst - IN/MKR,Bangalore,bosch group,4 to 6 Yrs
5,Senior Data Analyst,Bangalore,true caller,5 to 7 Yrs
6,Data Analyst,Bangalore\n+13,rama technical consultants,11 to 21 Yrs
7,"Data Engineer II, Amazon WFM Tech Enterprise Data",Bangalore,amazon,3 to 5 Yrs
8,Data Analyst - Java/Python,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
9,"Business Data Analyst, GlowRoad",Bangalore,amazon,1 to 3 Yrs

In [119]:
#Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
#This task will be done in following steps:
#1. First get the webpage https://www.shine.com/
#2. Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
#3. Then click the search button.
#4. Then scrape the data for the first 10 jobs results you get.
#5. Finally create a dataframe of the scraped data.

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time


driver =webdriver.Chrome()

#opening the shine page on automated chrome browser (#1. First get the webpage https://www.shine.com/)

driver.get("https://www.shine.com/")

In [142]:
#enterning designation and location as required in the Q (#2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.)
designation=driver.find_element(By.CLASS_NAME,"form-control ")
designation.send_keys('Data Scientist')

location=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [138]:
#3. Then click the search button.
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [143]:
#Empty list for store 
title=[]
location=[]
company=[]


#Scraping job title from the given page (#4. Then scrape the data for the first 10 jobs results you get)
for i in driver.find_elements(By.XPATH,'//h2[@itemprop="name"]'):
    title.append(i.text)


    
#Scraping job location from the given page 
for i in driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]'):
    location.append(i.text)


    
#Scraping company name from the given page
for i in driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]'):
    company.append(i.text)

    

    
#5. Finally create a dataframe of the scraped data.
df=pd.DataFrame({'Job Title':title[0:10] , 'Job Location':location[0:10] , 'Company Name':company[0:10] })
df

,Job Title,Job Location,Company Name
0,Data Scientist,Bangalore,the fashion cosmo
1,SR. DATA SCIENTIST,Bangalore,te connectivity india pvt ltd
2,Senior Data Scientist- ML Engineer,Bangalore,sap india pvt ltd
3,Data Scientist Hiring Fresher and Experience,Bangalore\n+17,kavya staffing solutions
4,Data Scientist III,Bangalore,inmobi
5,Data Scientist,Bangalore\n+6,quiscon biotech
6,"Senior Data Scientist, AWS",Bangalore,amazon
7,Data Scientist Recruitment,Bangalore\n+17,kavya staffing solutions
8,Hiring For Data Scientist,Bangalore\n+17,kavya staffing solutions
9,Hiring For Data Scientist,Bangalore\n+17,kavya staffing solutions

In [44]:
#Q3: In this question you have to scrape data using the filters available on the webpage
#You have to use the location and salary filter.
#You have to scrape data for “Data Scientist” designation for first 10 job results.
#You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
#The task will be done as shown in the below steps:
#1. first get the web page https://www.shine.com/
#2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
#3. Then click the search button.
#4. Then apply the location filter and salary filter by checking the respective boxes
#5. Then scrape the data for the first 10 jobs results you get.
#6. Finally create a dataframe of the scraped data.

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time


driver =webdriver.Chrome()

#opening the shine page on automated chrome browser (#1. First get the webpage https://www.shine.com/)

driver.get("https://www.shine.com/")

In [45]:
#enterning designation and location as required in the Q (#2. Enter “Data Analyst” in “Job title, Skills” field )
designation=driver.find_element(By.CLASS_NAME,"form-control ")
designation.send_keys('Data Scientist')

In [48]:
#3. Then click the search button.
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [49]:
#4.applying the location filter and salary filter by checking the respective boxes

#Locate the location filter button and click it

location_filter=driver.find_element(By.CLASS_NAME,"filter_filter_lists_items__wlFfo")
location_filter.click()

In [50]:
#search Delhi in search bar 
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[1]/input")
location.send_keys('Delhi')

In [51]:
#selecting on Delhi option
delhi_click=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[2]/span/label")
delhi_click.click()

In [52]:
#Locate the salary filter button and click it
salary_filter=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/ul/li[3] ")
salary_filter.click()

In [53]:
#selecting on 3-5L option on salary filter
salary=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[3]/span/label")
salary.click()

In [54]:
#Then click the show result button
show_result=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]")
show_result.click()

In [99]:
#5. Then scrape the data for the first 10 jobs results you get.
#Empty list for store 
title=[]
location=[]
company=[]
experience=[]


#Scraping job title from the given page
for i in driver.find_elements(By.XPATH,'//h2[@itemprop="name"]'):
    title.append(i.text)


    
#Scraping job location from the given page 
for i in driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]'):
    location.append(i.text)


    
#Scraping company name from the given page
for i in driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]'):
    company.append(i.text)

    
#Scraping experience required from the given page
for i in driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]'):
    experience.append(i.text)

    

    
#5. Finally create a dataframe of the scraped data.
df=pd.DataFrame({'Job Title':title[0:10] , 'Job Location':location[0:10] , 'Company Name':company[0:10],'experience required':experience[:10] })
df

,Job Title,Job Location,Company Name,experience required
0,Data Scientist,Delhi\n+6,quiscon biotech,0 to 1 Yr
1,DATA SCIENTIST DELHI,Delhi,skyleaf consultants,3 to 6 Yrs
2,Data Scientist,Delhi\n+6,quiscon biotech,0 to 3 Yrs
3,DATA SCIENTIST DELHI,Delhi,skyleaf consultants,3 to 6 Yrs
4,DATA SCIENTIST DELHI,Delhi,skyleaf consultants,3 to 6 Yrs
5,Senior Data Engineer,Delhi\n+6,corporate steps..,2 to 4 Yrs
6,Hiring For Data Analyst,Delhi\n+8,harjai computers private limited,2 to 5 Yrs
7,Senior Data Analyst,Delhi\n+8,harjai computers private limited,0 to 2 Yrs
8,for _GCP Data Engineer/Lead/Architect- Delhi,Delhi,nina s hr consultancy,2 to 3 Yrs
9,for _GCP Data Engineer/Lead/Architect- Delhi,Delhi,nina s hr consultancy,2 to 3 Yrs

In [22]:
#Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
#. Brand
#. Product Description
#. Price
#The attributes which you have to scrape is ticked marked in the below image.

#To scrape the data you have to go through following steps:
#1. Go to Flipkart webpage by url : https://www.flipkart.com/
#2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
#3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
#4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.
#5. Now scrape data from this page as usual
#6. Repeat this until you get data for 100sunglasses.



import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time


driver =webdriver.Chrome()

#opening Flipkart webpage on automated chrome browser 

driver.get("https://www.flipkart.com/")

In [36]:
#enterning “sunglasses” in the search field
search=driver.find_element(By.CLASS_NAME,"Pke_EE ")
search.send_keys('sunglasses')

In [37]:
#Then click the search button.
click=driver.find_element(By.CLASS_NAME,"_2iLD__")
click.click()

In [49]:
#Now scrape the datas like Brand, Product Description, Price for the 100sunglasses (After scraping data from the first page, go to the “Next” Button at the bottom other page)

#Empty list for store 
Brand=[]
Description=[]
Price=[]


#from 3 pages so that we can scrape atleast 100 datas
start=0
end=3

#Scraping Barand name 
for page in range(start,end):
    for i in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
        Brand.append(i.text)
    
    
    #Scraping Product Description 
    for i in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
        Description.append(i.text)
    
    #Scraping Price
    for i in driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
        Price.append(i.text)
    
    
    
    
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') #to scrape data from next page
    next_button.click()
    time.sleep(3)

In [50]:
len(Brand),len(Description),len(Price)

(120, 118, 120)

In [51]:
#Finally create a dataframe of the scraped data.
df=pd.DataFrame({'Brand Name':Brand[0:100] , 'Product Description':Description[:100] , 'Price':Price[0:100] })
df

        Brand Name                                Product Description   Price
0    VINCENT CHASE     Polarized, UV Protection Round Sunglasses (50)    ₹849
1    VINCENT CHASE             UV Protection Wayfarer Sunglasses (59)    ₹549
2         Fastrack             UV Protection Wayfarer Sunglasses (58)    ₹649
3         Fastrack              UV Protection Aviator Sunglasses (58)    ₹799
4         Fastrack   UV Protection Rectangular Sunglasses (Free Size)    ₹499
..             ...                                                ...     ...
95      Crazywinks   Polarized, UV Protection Aviator Sunglasses (60)    ₹749
96     john jacobs            UV Protection Butterfly Sunglasses (60)  ₹1,799
97     Eyewearlabs   UV Protection Wrap-around Sunglasses (Free Size)  ₹1,520
98          PIRASO                   Mirrored Aviator Sunglasses (58)    ₹388
99  ROZZETTA CRAFT  Polarized, UV Protection Retro Square Sunglass...    ₹490

[100 rows x 3 columns]

In [34]:
###Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/product- reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART

#As shown in the above page you have to scrape the tick marked attributes. These are:
#1. Rating
#2. Review summary
#3. Full review
#4. You have to scrape this data for first 100reviews.


import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time


driver =webdriver.Chrome()

#opening Flipkart webpage on automated chrome browser 
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product- reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART")

#[SHOWING THIS MESSAGE : Unfortunately the page you are looking for has been moved or deleted]

In [29]:
#Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
#You have to scrape 3 attributes of each sneaker:
#. Brand
#. Product Description
#. Price
#As shown in the image, you have to scrape the above attributes.



import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time


driver =webdriver.Chrome()

#opening Flipkart webpage on automated chrome browser 

driver.get("https://www.flipkart.com/")

In [30]:
#enterning “sneakers” in the search field
search=driver.find_element(By.CLASS_NAME,"Pke_EE")
search.send_keys('sneakers')

#search.submit()......we can use this also to click the search button

In [16]:
#Then click the search button.
click=driver.find_element(By.CLASS_NAME,"_2iLD__")
click.click()

In [35]:
#Now scrape the datas like Brand, Product Description, Price for the sneakers (After scraping data from the first page, go to the “Next” Button at the bottom other page)

#Empty list for store 
Brand=[]
Description=[]
Price=[]


#from 3 pages so that we can scrape atleast 100 datas
start=0
end=3

for page in range(start,end):
    
    #Scraping Barand name 
    for i in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
        Brand.append(i.text)
    
    
    #Scraping Product Description 
    for i in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'): #DOUBT: Only 'flipkart assured' description is been taken 
        Description.append(i.text)
    
    #Scraping Price
    for i in driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
        Price.append(i.text)
    
    
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') #to scrape data from next page
    next_button.click()
    time.sleep(3)

In [34]:
len(Brand),len(Description),len(Price) # to check the length of each column data

(120, 112, 120)

In [36]:
#Finally create a dataframe of the scraped data.
df=pd.DataFrame({'Brand Name':Brand[0:100] , 'Product Description':Description[:100] , 'Price':Price[0:100] })
df

# DOUBT: i feel its showing randomly as its not matching with the page's shoes sequence

    Brand Name                                Product Description   Price
0       Layasa                                   Sneakers For Men    ₹279
1       Layasa                                   Sneakers For Men    ₹499
2        asian                                   Sneakers For Men    ₹822
3     Nobelite                                   Sneakers For Men    ₹279
4         aadi                           CLARKIN Sneakers For Men    ₹279
..         ...                                                ...     ...
95       asian  Stylish & Trending Lifestyle Casual Sneakers F...    ₹622
96      Layasa  Carnival-01 Mens Casual,Loafers Chunky Sneaker...    ₹499
97      Layasa                                   Sneakers For Men    ₹549
98  Free Kicks                                   Sneakers For Men  ₹1,400
99       asian  asian Thunder-01 White Color Change Sneakers,C...    ₹646

[100 rows x 3 columns]

In [55]:
#Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:
#After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
#. Title
#. Ratings
#. Price


import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time


driver =webdriver.Chrome()

#opening amazon webpage on automated chrome browser 

driver.get("https://www.amazon.in/")

In [57]:
#enterning “Laptop” in the search field
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")  #need to use XPATH instead of CLASS_NAME where no option appears when click on search field
search.send_keys('Laptop')

In [58]:
#Then click the search button.
search.submit()

In [59]:
#set CPU Type filter to “Intel Core i7” button and click it
CPU_type=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[7]/span[10]/li/span/a/span")
CPU_type.click()

In [61]:
#Now scrape the datas like Title, Ratings, Price for the first 10 laptops data.

#Empty list for store 
Title=[]
Ratings=[]
Price=[]


    
#Scraping Title 
for i in driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]'):
    Title.append(i.text)
    
    
#Scraping Ratings 
for i in driver.find_elements(By.XPATH,'//span[@class="a-size-base puis-bold-weight-text"]'):
    Ratings.append(i.text)
    
#Scraping Price 
for i in driver.find_elements(By.XPATH,'//span[@class="a-price"]'):
    Price.append(i.text)
    
len(Title),len(Ratings),len(Price) # to check the length of each column data

(30, 30, 30)

In [62]:
#create a dataframe of the scraped first 10 laptops datas (3 attributes for each laptop)

df=pd.DataFrame({'Title Name':Title[0:10] , 'Product Rating':Ratings[:10] , 'Price':Price[:10] })
df

                                          Title Name Product Rating      Price
0  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...            4.2    ₹68,829
1  Acer Predator Helios Neo 16 Gaming Laptop 13th...            4.0  ₹1,44,990
2  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...            4.3    ₹66,990
3  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...            4.0    ₹64,990
4  Dell Inspiron 5430 Laptop, Intel Core i7-1360P...            3.3    ₹86,490
5  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...            4.2    ₹68,829
6  ASUS TUF Gaming F15 (2023) 90WHr Battery, Inte...            4.4  ₹1,15,990
7  ASUS Creator Series Vivobook 14X OLED (2023), ...            4.6    ₹89,990
8  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...            4.1    ₹80,990
9  ASUS TUF Gaming F15, 15.6-inch (39.62 cms) FHD...            4.0  ₹1,03,625

In [2]:
#Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
#The above task will be done in following steps:
#1. First get the webpagehttps://www.azquotes.com/
#2. Click on Top Quotes
#3. Than scrap a) Quote b) Author c) Type Of Quotes


import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time


driver =webdriver.Chrome()

#opening Quotes webpage on automated chrome browser 

driver.get("https://www.azquotes.com/")

In [12]:
#click on 'Top Quotes'  {#need to use XPATH instead of CLASS_NAME where no option appears when click on search field or anything}
top_quotes=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
top_quotes.click()

In [27]:
#Now scrape a) Quote b) Author c) Type Of Quotes , data for Top 1000 Quotes of All Time

#Empty list for store 
Quote=[]
Author=[]
Type=[]


#from all 10 pages so that we can scrape all 1000 Quotes
start=0
end=10

for page in range(start,end):
    
    #Scraping Quote  
    for i in driver.find_elements(By.XPATH,'//a[@class="title"]'):
        Quote.append(i.text)
    
    
    #Scraping Author name 
    for i in driver.find_elements(By.XPATH,'//div[@class="author"]'):  
        Author.append(i.text)
    
    #Scraping Type Of Quotes
    for i in driver.find_elements(By.XPATH,'//div[@class="tags"]'):
        Type.append(i.text)
    
    
    next_button=driver.find_element(By.XPATH,'//a[@class="active"]') #to scrape data from next page
    next_button.click()
    time.sleep(3) 

len(Quote),len(Author),len(Type) # to check the length of each column data

(1000, 1000, 1000)

In [28]:
# Now create a dataframe of the scraped all 10 pages datas of all 1000 Quotes

df=pd.DataFrame({'Quote':Quote , 'Author Name':Author , 'Type Of Quotes':Type })
df

,Quote,Author Name,Type Of Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [21]:
#Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
#This task will be done in following steps:
#1. First get the webpagehttps://www.jagranjosh.com/
#2. Then You have to click on the GK option
#3. Then click on the List of all Prime Ministers of India
#4. Then scrap the mentioned data and make the DataFrame.



import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time


driver =webdriver.Chrome()

#opening webpage on automated chrome browser (#1. First get the webpagehttps://www.jagranjosh.com/)

driver.get("https://www.jagranjosh.com/")

In [4]:
#click on 'GK' option {#need to use XPATH instead of CLASS_NAME where no option appears when click on search field or anything}
#(2. Then You have to click on the GK option)
GK=driver.find_element(By.XPATH,"/html/body/div[1]/header/nav/div/div/div[3]/ul/li[3]/a")
GK.click()

In [6]:
#click on the List of all Prime Ministers of India {#need to use XPATH instead of CLASS_NAME where no option appears when click on search field or anything}
#(3. Then click on the List of all Prime Ministers of India)
prime_minister=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
prime_minister.click()

In [13]:
#4. Then scrap the mentioned data ( Name, Born-Dead, Term of office, Remarks) of former Prime Ministers of India and make the DataFrame.


#Empty list for store 
Name=[]
Life=[]
Office=[]
Remarks=[]



#Scraping Name Of former Prime Ministers of India
for i in driver.find_elements(By.XPATH,'.............'): #(NOT ABLE TO FIND THE CLASSS NAME TO SELECT ALL FROM THE COLUMN)
    Name.append(i.text)
    
    
#Scraping Born-Dead Of former Prime Ministers of India
for i in driver.find_elements(By.XPATH,'//td[@style="width: 105px; height: 80px;"]'):  #(NOT ABLE TO FIND THE CLASSS NAME TO SELECT ALL FROM THE COLUMN)
    Life.append(i.text)
   
 
#Scraping Term of office Of former Prime Ministers of India
for i in driver.find_elements(By.XPATH,'..........'):  #(NOT ABLE TO FIND THE CLASSS NAME TO SELECT ALL FROM THE COLUMN)
    Office.append(i.text)
 

 
#Scraping Remarks Of former Prime Ministers of India   
for i in driver.find_elements(By.XPATH,'.............'): #(NOT ABLE TO FIND THE CLASSS NAME TO SELECT ALL FROM THE COLUMN)
    Remarks.append(i.text)
    
    
    
len(Name),len(Life),len(Office),len(Remarks) # to check the length of each column data

InvalidSelectorException: Message: invalid selector: Unable to locate an element with the xpath expression ............. because of the following error:
SyntaxError: Failed to execute 'evaluate' on 'Document': The string '.............' is not a valid XPath expression.
  (Session info: chrome=117.0.5938.92); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#invalid-selector-exception
Stacktrace:
	GetHandleVerifier [0x00007FF6006C7892+54818]
	(No symbol) [0x00007FF600636AC2]
	(No symbol) [0x00007FF6004EDA3B]
	(No symbol) [0x00007FF6004F246D]
	(No symbol) [0x00007FF6004F3F5F]
	(No symbol) [0x00007FF6004F4050]
	(No symbol) [0x00007FF60052E184]
	(No symbol) [0x00007FF60052E67C]
	(No symbol) [0x00007FF600569657]
	(No symbol) [0x00007FF60054EAEF]
	(No symbol) [0x00007FF6005675A2]
	(No symbol) [0x00007FF60054E883]
	(No symbol) [0x00007FF600523691]
	(No symbol) [0x00007FF6005248D4]
	GetHandleVerifier [0x00007FF600A2B992+3610402]
	GetHandleVerifier [0x00007FF600A81860+3962352]
	GetHandleVerifier [0x00007FF600A79D4F+3930847]
	GetHandleVerifier [0x00007FF600763646+693206]
	(No symbol) [0x00007FF600641628]
	(No symbol) [0x00007FF60063D934]
	(No symbol) [0x00007FF60063DA62]
	(No symbol) [0x00007FF60062E113]
	BaseThreadInitThunk [0x00007FFF22887344+20]
	RtlUserThreadStart [0x00007FFF23CA26B1+33]

In [ ]:
# Now create a dataframe of the all former Prime Ministers of India

df=pd.DataFrame({'Name':Name , 'Born-Dead':Life , 'Term of office':Office,'Remarks':Remarks })
df

In [14]:
#Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/
#This task will be done in following steps:
#1. First get the webpage https://www.motor1.com/
#2. Then You have to type in the search bar ’50 most expensive cars’
#3. Then click on 50 most expensive cars in the world..
#4. Then scrap the mentioned data and make the dataframe.



import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time


driver =webdriver.Chrome()

#opening webpage on automated chrome browser (#1. First get the webpage https://www.motor1.com/)

driver.get("https://www.motor1.com/")

In [15]:
#click on search bar to type in the search bar ’50 most expensive cars’ {#need to use XPATH instead of CLASS_NAME where no option appears when click on search field or anything}
#(2.Then You have to type in the search bar ’50 most expensive cars’)
search=driver.find_element(By.XPATH,"/html/body/div[10]/div[2]/div/div/div[3]/div/div/button")
search.click()

In [16]:
#enterning “50 most expensive cars” in the search field
cars=driver.find_element(By.XPATH,"/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input")  #need to use XPATH instead of CLASS_NAME where no option appears when click on search field
cars.send_keys('50 most expensive cars')

In [17]:
#Then click the search button.
cars.submit()

In [18]:
#3. Then select on 50 most expensive cars in the world..

select=driver.find_element(By.XPATH,"/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a")
select.click()

In [20]:
#4. Then scrap the mentioned data ( Car name and Price) of 50 Most expensive cars in the world and make the DataFrame.


#Empty list for store 
Car=[]
Price=[]



#Scraping Car Name Of 50 Most expensive cars in the world
for i in driver.find_elements(By.XPATH,'//h3[@class="subheader"]'): 
    Car.append(i.text)
    
    
#Scraping Car Price Of 50 Most expensive cars in the world
for i in driver.find_elements(By.XPATH,'........'):       #(NOT ABLE TO FIND THE CLASSS NAME TO SELECT ALL FROM THE COLUMN)
    Price.append(i.text)
   
 
    
    
len(Car),len(Price) # to check the length of each column data

InvalidSelectorException: Message: invalid selector: Unable to locate an element with the xpath expression <p><strong>Price: $1.5 Million</strong></p> because of the following error:
SyntaxError: Failed to execute 'evaluate' on 'Document': The string '<p><strong>Price: $1.5 Million</strong></p>' is not a valid XPath expression.
  (Session info: chrome=117.0.5938.92); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#invalid-selector-exception
Stacktrace:
	GetHandleVerifier [0x00007FF6006C7892+54818]
	(No symbol) [0x00007FF600636AC2]
	(No symbol) [0x00007FF6004EDA3B]
	(No symbol) [0x00007FF6004F246D]
	(No symbol) [0x00007FF6004F3F5F]
	(No symbol) [0x00007FF6004F4050]
	(No symbol) [0x00007FF60052E184]
	(No symbol) [0x00007FF60052E67C]
	(No symbol) [0x00007FF600569657]
	(No symbol) [0x00007FF60054EAEF]
	(No symbol) [0x00007FF6005675A2]
	(No symbol) [0x00007FF60054E883]
	(No symbol) [0x00007FF600523691]
	(No symbol) [0x00007FF6005248D4]
	GetHandleVerifier [0x00007FF600A2B992+3610402]
	GetHandleVerifier [0x00007FF600A81860+3962352]
	GetHandleVerifier [0x00007FF600A79D4F+3930847]
	GetHandleVerifier [0x00007FF600763646+693206]
	(No symbol) [0x00007FF600641628]
	(No symbol) [0x00007FF60063D934]
	(No symbol) [0x00007FF60063DA62]
	(No symbol) [0x00007FF60062E113]
	BaseThreadInitThunk [0x00007FFF22887344+20]
	RtlUserThreadStart [0x00007FFF23CA26B1+33]

In [ ]:
# Now create a dataframe of the all 50 Most expensive cars in the world

df=pd.DataFrame({'Car Name':Car , 'Car Price':Price })
df